<!-- home.component.html -->
<div class="home-container">
  <h1 class="home-title">Welcome to Dark Souls: Caravana Edition</h1>
  <button class="play-button" [routerLink]="['/inicio']">PLAY</button>
  <p class="game-description">
    Un juego multijugador. Es un juego de estrategia y comercio ambientado en la
    edad media. El jugador es parte de una caravana de comercio que viaja por
    diferentes ciudades. El objetivo es maximizar las ganancias en un plazo
    determinado (éste último se determina al iniciar el juego). El juego se gana
    si las ganancias superan un nivel mínimo (también determinado al inicio del
    juego). Se pierde si las ganancias son menores. Si el dinero se acaba o la
    caravana es destruida antes de terminar el plazo, el juego se pierde
    automáticamente.
  </p>
</div>
