<div class="container">
  <div class="current-city">
    <h1>Viajar a Ciudad</h1>
    <app-caravana-view></app-caravana-view>
    <h2>Ciudad Actual</h2>
    <p>Nombre: {{ ciudadActual?.nombre }}</p>
    <p>Impuesto: {{ ciudadActual?.impuesto }}</p>
  </div>

  <div class="routes">
    <h2>Ciudades a ir</h2>
    <ul>
      <li *ngFor="let ruta of rutas">
        <p>Ruta: {{ ruta.nombre }}</p>
        <p>Ciudad Destino: {{ ruta.ciudadDestino }}</p>
        <button (click)="viajar()">VIAJAR</button>
      </li>
    </ul>
  </div>
</div>
