<div class="container">
  <div>
    <div class="rol-actual">Rol actual: {{ rol }}</div>
    <div class="log-out">
      <button (click)="logout()">Cerrar Sesión</button>
    </div>


    <app-caravana-view></app-caravana-view>
    <h1>Ciudad Actual</h1>

    <p>Nombre: {{ ciudadActual?.nombre }}</p>
    <p>Impuesto: {{ ciudadActual?.impuesto }}</p>
    <img
      [src]="getCiudadImagen()"
      alt="Imagen de la ciudad"
      class="ciudad-imagen"
    />
    <h1>Fin del juego: 5d 0h 0m</h1>
  </div>

  <div>
    <ng-container *ngIf="rol === 'CARAVANERO'; else COMERCIANTE">
      <button (click)="viajar()">Viajar</button>
      <button (click)="verInventario()">Ver Inventario de Productos</button>
    </ng-container>
    <ng-template #COMERCIANTE>
      <button (click)="comprarProductos()">Comprar Producto</button>
      <button (click)="comprarServicios()">Comprar Servicio</button>
      <button id="venderBtn" (click)="venderProducto()">Vender Producto</button>
      <button (click)="verInventario()">Ver Inventario de Productos</button>
    </ng-template>
  </div>
</div>
