h1 {
  font-family: "Press Start 2P", cursive;
  color: #8b5e3c;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  font-family: "Press Start 2P", cursive;
  color: #5c473a;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
