<h1>Ciudades list</h1>
<p>
  <a class="create-button" th:href="@{/ciudades/create}">Create</a>
</p>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Impuesto</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ciudad of ciudades">
      <td>{{ ciudad.nombre }}</td>
      <td>{{ ciudad.impuesto }}</td>
      <td>
        <a class="view-button" th:href="@{/ciudades/view/{id}(id=${ciudad.id})}"
          >View</a
        >
      </td>
      <td>
        <a class="edit-button" th:href="@{/ciudades/edit/{id}(id=${ciudad.id})}"
          >Edit</a
        >
      </td>
      <td>
        <a
          class="delete-button"
          th:href="@{/ciudades/delete/{id}(id=${ciudad.id})}"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
