<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Vista particular de ciudad</title>
  </head>

  <body>
    <h1>Ciudad View</h1>
    <ul>
        <li th:text="${ciudad.nombre}"></li>
        <li th:text="|Productos de ${ciudad.nombre}|"></li>
        <ul th:each="producto : ${ciudad.productos}">
            <li th:text="${producto.producto.nombre}"></li>
        </ul>
        <li th:text="|Servicios de ${ciudad.nombre}|"></li>
        <ul th:each="servicio : ${ciudad.servicios}">
            <li th:text="${servicio.servicio.nombre}"></li>
        </ul>
        <li>Acá van las compras</li>
        <li th:text="|Destinos donde ${ciudad.nombre} es el origen de la ruta|"></li>
        <ul th:each="rutas: ${ciudad.rutasOrigen}">
            <li th:text="${rutas.destino.nombre}"></li>
        </ul>
        <li th:text="|Origenes donde ${ciudad.nombre} es el destino de la ruta|"></li>
        <ul th:each="rutas: ${ciudad.rutasDestino}">
            <li th:text="${rutas.origen.nombre}"></li>
        </ul>
        <li th:text="${ciudad.impuesto}"></li>
        <li>
            <a th:href="@{/ciudades/list}">Volver a vista general</a>
        </li>
    </ul>

  </body>
</html> 