<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/ciudad-view.css" />
    <script src="/js/ciudad-view.js" defer></script>
    <title>Vista de Ciudad</title>
  </head>

  <body>
    <div class="info-card">
      <h1 th:text="${ciudad.nombre}"></h1>
      <!-- Impuesto -->
      <div class="impuesto-badge">
        Impuesto: <span th:text="${ciudad.impuesto}"></span>%
      </div>
    </div>

    <!-- Productos -->
    <div class="sigmadiv">
      <div>
        <a
          class="view-productos"
          th:href="@{/ciudades/view/{id}/producto(id=${ciudad.id})}"
          >Productos
        </a>
      </div>

      <!-- Servicios -->
      <div>
        <a
          class="view-servicios"
          th:href="@{/ciudades/view/{id}(id=${ciudad.id})}"
          >Servicios
        </a>
      </div>

      <!-- Compras -->
      <div>
        <a
          class="view-compras"
          th:href="@{/ciudades/view/{id}(id=${ciudad.id})}"
          >Compras
        </a>
      </div>

      <!-- Rutas Origen -->
      <div>
        <a class="view-origen" th:href="@{/ciudades/view/{id}/rutaorigen(id=${ciudad.id})}"
          >Rutas donde es oirgen
        </a>
      </div>

      <!-- Rutas Destino -->
      <div>
        <a
          class="view-destino"
          th:href="@{/ciudades/view/{id}/rutadestino(id=${ciudad.id})}"
          >Rutas donde es destino
        </a>
      </div>
    </div>
    <!-- Botón de volver -->
    <div class="info-card" style="text-align: center">
      <a class="back-button" th:href="@{/ciudades/list}">
        ← Volver a la lista
      </a>
    </div>
  </body>
</html>
