<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Ciudad</title>
    <link rel="stylesheet" href="/css/ciudad-edit.css" />
  </head>
  <body>
    <form action="/ciudades/save" method="post">
      <input type ="hidden" name="id" th:value="${ciudad.id}">
      <label>Nombre</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        th:value="${ciudad.nombre}"
      />
      <label>Impuesto</label>
      <input
        type="text"
        id="impuesto"
        name="impuesto"
        th:value="${ciudad.impuesto}"
      />
      <button type="submit">Guardar</button>
    </form>
    <a th:href="@{/ciudades/edit/{id}/productos(id=${ciudad.id})}">Agregar o quitar productos de esta ciudad</a>
    <a th:href="@{/ciudades/list}" class="back-button"
      >← Volver a la lista de Ciudades</a
    >
  </body>
</html>
