<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/ciudades-list.css" />
    <script src="/js/ciudades-list.js" defer></script>
    <title>Lista de Ciudades</title>
  </head>
  <body>
    <h1>Ciudades list</h1>
    <p>
      <a class="create-button" th:href="@{/ciudades/create}">Create</a>
    </p>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Impuesto</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="ciudad : ${listaciudades}">
          <td th:text="${ciudad.nombre}"></td>
          <td th:text="${ciudad.impuesto}"></td>
          <td>
            <a
              class="view-button"
              th:href="@{/ciudades/view/{id}(id=${ciudad.id})}"
              >View</a>
          </td>
          <td>
            <a
              class="edit-button"
              th:href="@{/ciudades/view/{id}(id=${ciudad.id})}"
            >Edit</a>
          </td>
          <td>
            <a
              class="delete-button"
              th:href="@{/ciudades/view/{id}(id=${ciudad.id})}"
            >Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
