<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Ciudades</title>
  </head>

  <body>
    <h1>Ciudades list</h1>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Productos</th>
          <th>Servicios</th>
          <th>Compras</th>
          <th>Rutas donde es Origen</th>
          <th>Rutas donde es Destino</th>
          <th>Impuesto</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="ciudad : ${listaciudades}">
          <td th:text="${ciudad.nombre}"></td>

          <td>
            <table>
              <thead>
                <tr>
                  <th th:text="|Productos de ${ciudad.nombre}|"></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="producto : ${ciudad.productos}">
                  <td th:text="${producto.producto.nombre}"></td>
                </tr>
              </tbody>
            </table>
          </td>

          <td>
            <table>
              <thead>
                <tr>
                  <th th:text="|Servicios de ${ciudad.nombre}|"></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="servicio : ${ciudad.servicios}">
                  <td th:text="${servicio.servicio.nombre}"></td>
                </tr>
              </tbody>
            </table>
          </td>

          <td><table>
            <thead>
              <tr>
                <th th:text="|Servicio de ${ciudad.nombre}|"></th>
                <th th:text="|Comprado por ${ciudad.compras}|"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="servicio : ${ciudad.servicios}">
                <td th:text="${servicio.servicio.nombre}"></td>
              </tr>
            </tbody>
          </table></td>

          <td><table>
            <thead>
              <tr>
                <th>Destino</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="rutas : ${ciudad.rutasOrigen}">
                <td th:text="${rutas.destino.nombre}"></td>
              </tr>
            </tbody>
          </table></td>

          <td><table>
            <thead>
              <tr>
                <th>Origen</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="rutas : ${ciudad.rutasDestino}">
                <td th:text="${rutas.origen.nombre}"></td>
              </tr>
            </tbody>
          </table></td>

          <td th:text="${ciudad.impuesto}"></td>

          <td>
            <a th:href="@{/ciudades/view/{id}(id=${ciudad.id})}">View</a>
          </td>
          
        </tr>
      </tbody>
    </table>
  </body>
</html>
