<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/ciudades-list.css" />
    <script src="/js/ciudades-list.js" defer></script>
    <title>Lista de Ciudades</title>
  </head>
  <body>
    <h1>Ciudades list</h1>
    <p>
      <a class="create-button" th:href="@{ciudades/create}">Create</a>
    </p>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Productos</th>
          <th>Servicios</th>
          <th>Compras</th>
          <th>Rutas donde es Origen</th>
          <th>Rutas donde es Destino</th>
          <th>Impuesto</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="ciudad : ${listaciudades}">
          <td th:text="${ciudad.nombre}"></td>

          <!-- Productos -->
          <td>
            <div class="dropdown">
              <div class="dropdown-header">
                <span th:text="|Productos de ${ciudad.nombre}|"></span>
              </div>
              <div class="dropdown-content">
                <div
                  th:each="producto : ${ciudad.productos}"
                  th:text="${producto.producto.nombre}"
                ></div>
              </div>
            </div>
          </td>

          <!-- Servicios -->
          <td>
            <div class="dropdown">
              <div class="dropdown-header">
                <span th:text="|Servicios de ${ciudad.nombre}|"></span>
              </div>
              <div class="dropdown-content">
                <div
                  th:each="servicio : ${ciudad.servicios}"
                  th:text="${servicio.servicio.nombre}"
                ></div>
              </div>
            </div>
          </td>

          <!-- Compras -->
          <td>
            <div class="dropdown">
              <div class="dropdown-header">
                <span
                  th:text="|Servicio de ${ciudad.nombre} comprados|"
                ></span>
              </div>
              <div class="dropdown-content">
                <div
                  th:each="compra : ${ciudad.compras}"
                  th:text="|${compra.servicio.nombre} comprado por ${compra.caravana.nombre}|"
                ></div>
              </div>
            </div>
          </td>

          <!-- Rutas Origen -->
          <td>
            <div class="dropdown">
              <div class="dropdown-header">
                <span>Rutas como Origen</span>
              </div>
              <div class="dropdown-content">
                <div
                  th:each="ruta : ${ciudad.rutasOrigen}"
                  th:text="${ruta.destino.nombre}"
                ></div>
              </div>
            </div>
          </td>

          <!-- Rutas Destino -->
          <td>
            <div class="dropdown">
              <div class="dropdown-header">
                <span>Rutas como Destino</span>
              </div>
              <div class="dropdown-content">
                <div
                  th:each="ruta : ${ciudad.rutasDestino}"
                  th:text="${ruta.origen.nombre}"
                ></div>
              </div>
            </div>
          </td>

          <td th:text="${ciudad.impuesto}"></td>

          <td>
            <a
              class="view-button"
              th:href="@{/ciudades/view/{id}(id=${ciudad.id})}"
              >View</a>
          </td>
          <td>
            <a
              class="edit-button"
              th:href="@{/ciudades/view/{id}(id=${ciudad.id})}"
            >Edit</a>
          </td>
          <td>
            <a
              class="delete-button"
              th:href="@{/ciudades/view/{id}(id=${ciudad.id})}"
            >Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
