<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 th:text="${ciudadProducto.nombreProducto}"></h1>
    <form th:action="@{/ciudades/view/{id}/producto/{idProducto}/save(id=${ciudadProducto.idCiudad}, idProducto=${ciudadProducto.idProducto})}" method="post">
        <input type="hidden" name="id" th:value="${ciudadProducto.id}">
        <input type="hidden" name="idCiudad" th:value="${ciudadProducto.idCiudad}">
        <input type="hidden" name="idProducto" th:value="${ciudadProducto.idProducto}">
        <label>Stock</label>
        <input type="text" id="stock" name="stock" th:value="${ciudadProducto.stock}" />
        <label>Factor Demanda</label>
        <input type="text" id="factorDemanda" name="factorDemanda" th:value="${ciudadProducto.factorDemanda}" />
        <label>FactorOferta</label>
        <input type="text" id="factorOferta" name="factorOferta" th:value="${ciudadProducto.factorOferta}" />
        <button type="submit">Guardar</button>
    </form>
</body>

</html>