<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/producto-ciudad-view.css" />
    <title>Servicios de la ciudad</title>
</head>
<body>
<h1 th:text="'Productos de ' + ${ciudad.nombre}"></h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto : ${productos}">
        <td th:text="${producto.id}"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.tipo}"></td>
        <td th:text="${producto.descripcion}"></td>
        <td><a th:href="@{/ciudades/view/{id}/producto/{idProducto}(id=${ciudad.id}, idProducto=${producto.id})}" class="button"> View</a></td>
    </tr>
    </tbody>
</table>
</body>
</table>
<a th:href="@{/ciudades/view/{id}(id=${ciudad.id})}" class="back-button">← Volver a la Ciudad</a>
</body>
</html>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos de la Ciudad</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

