<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="@{/ciudades/view/{id}/producto/{idProducto}/save" method="post">
        <input type="hidden" name="id" th:value="${ciudadProducto.id}">
        <label>Stock</label>
        <input type="text" id="stock" name="stock" th:value="${ciudadProducto.stock}" />
        <button type="submit">Guardar</button>
    </form>


</body>

</html>