<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/ruta-edit.css" />
    <title>Edit Ruta</title>
  </head>

  <body>
    <form action="/rutas/save" method="post">
      <input type="hidden" name="id" th:value="${ruta.id}" />
      <label>Longitud</label>
      <input
        type="text"
        id="longitud"
        name="longitud"
        th:value="${ruta.longitud}"
      />
      <label>Daño</label>
      <input type="text" id="dano" name="dano" th:value="${ruta.dano}" />
      <button type="submit">Guardar</button>
    </form>
    <a th:href="@{/rutas/ciudades/edit/{id}(id=${ruta.id})}"
      >Editar origen y destino de la ruta</a
    >
    <a th:href="@{/rutas/list}" class="back-button"
      >← Volver a la lista de Rutas</a
    >
  </body>
</html>
