<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/rutaorigen-ciudad-view.css" />
    <title>Rutas donde la ciudad es origen</title>
</head>

<body>
    <h1 th:text="|Rutas donde ${ciudad.nombre} es origen|"></h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Longitud</th>
                <th>Daño</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ruta : ${rutasOrigen}">
                <td th:text="${ruta.id}"></td>
                <td th:text="${ruta.longitud}"></td>
                <td th:text="${ruta.dano}"></td>
                <td>
                    <a 
                      class="view-button" 
                      th:href="@{/rutas/view/{id}(id=${ruta.id})}">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
<a th:href="@{/ciudades/view/{id}(id=${ciudad.id})}" class="back-button">← Volver a la Ciudad</a>
</table>
</body>

</html>
