<div>
  <h1>Products list</h1>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>nombre</th>
        <th>tipo</th>
        <th>descripcion</th>
        <th>stock en caravana</th>
        <th>cantidad</th>
        <th>vender</th>
      </tr>
    </thead>
    <tbody>
      @for (producto of productos; track $index) {
      <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.tipo }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ caravanaProductos[$index].cantidad}}</td>
        <td><input type="text" #cantidad></td>
        <td><button (click)="venderProducto($index, cantidad.value)">Vender</button></td>
      </tr>
      }
    </tbody>
  </table>
</div>
