
<div>
    <h1>Products list</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>tipo</th>
                <th>descripcion</th>
                <th>comprar</th>
            </tr>
        </thead>
        <tbody>
            @for (producto of productos; track producto.nombre) {
            <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.tipo}}</td>
                <td>{{producto.descripcion}}</td>
                <td><button (click)="comprarProducto(producto.id)">Comprar</button></td>
            </tr>
            }
        </tbody>
    </table>
</div>
