div {
  font-family: "Press Start 2P", cursive;
  color: #5c473a;
  background-color: #faf3e0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #8b5e3c;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #fff6e5;
  box-shadow: 0 0 10px rgba(139, 94, 60, 0.2);
}

th,
td {
  padding: 1rem;
  border-bottom: 1px solid #d4c7b8;
  text-align: left;
}

th {
  background-color: #8b5e3c;
  color: #faf3e0;
}

tr:hover {
  background-color: #f2e8d5;
}

button {
  font-family: "Press Start 2P", cursive;
  background-color: #8b5e3c;
  color: #faf3e0;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5c473a;
}
